<div class="teal">
	<h1>Track Index</h1>
	<%= link_to 'New Track', new_track_path %>
<table>
	<tr>
		<th>Track URL</th>
		
		<th colspan="2"></th>
	</tr>
	<% @tracks.each do |track| %>
	<tr>	
		<td><%= track.url %></td>
		<td>
			<% if current_user == track.user %>

				<%= link_to 'Delete', track_path(track),
						method: :delete,
						data: {confirm: 'Are you sure?'} %>
			<% end %>
		</td>
	<% end %>
	</tr>
</table>
</div>
<div class="teal">
	<%= youtube_embed 'https://www.youtube.com/watch?v=1CKenI4srLE' %>
</div>