	<div class="teal">
		<% if current_user %>
        <%= current_user.username %>
    <% end %>
      <h3>Mixes</h3>
      <ul>
        <% current_user.mixes.each do |mix| %>
          <li><%= link_to 'MIX', mix_path(mix), style: 'text-decoration: none; color: #00CC99;' %></li>
        <% end %>
         <h3>All tracks </h3>
			<%= link_to 'Track Index', tracks_path, style: 'text-decoration: none;' %>
			<ul>
</div>